html {
  font-family : Helvetica;
  text-align : center;
}

#main-header {
  background-image : url(https://rileygauchier.github.io/Broadway_Design/resources/images/the-flatiron-building.png);
  background-color : dimgray;
  color : white;
  width : 400px;
  margin : 0 auto;  
}

#foot {
  background-color : dimgray;
  color : white;
  font-size : 11px;
  text-align : left;
}

.sub-header {
  background-image : url(../images/the-flatiron-building.png);
  background-color : dimgray;
  color : white;
}

h1 {
  font-size : 70px;
  font-weight : bold;
}

h2 {
  font-size : 32px;
  font-weight : bold;
}

h3 {
  font-size : 23px;
  font-weight : bold;
}

a {
  font-size : 18px !important;
  color : white;
}

p {
  font-size : 14px;
}
